---
- name: Paquetes Dev | Instalar herramientas de terminal y editores
  tags: packages_dev
  become: true
  ansible.builtin.apt:
    name: "{{ developer_packages_base }}"
    state: present
    cache_valid_time: "{{ apt_cache_valid_time | default(3600) }}"

- name: Yakuake | Configurar la terminal desplegable para el usuario
  tags: yakuake
  become: true
  become_user: "{{ remote_regular_user }}"
  block:
    - name: Yakuake | Ensure .config directory exists
      ansible.builtin.file:
        path: "/home/{{ remote_regular_user }}/.config"
        state: directory
        mode: '0755'

    - name: Yakuake | Copiar archivo de configuraci칩n principal
      ansible.builtin.copy:
        src: yakuakerc
        dest: "/home/{{ remote_regular_user }}/.config/yakuakerc"
        owner: "{{ remote_regular_user }}"
        group: "{{ remote_regular_user }}"
        mode: "0644" # Permiso est치ndar y seguro para archivos

    - name: Yakuake | Asegurar que el directorio de perfiles de konsole existe
      ansible.builtin.file:
        path: "/home/{{ remote_regular_user }}/.local/share/konsole"
        state: directory
        owner: "{{ remote_regular_user }}"
        group: "{{ remote_regular_user }}"
        mode: "0755" # Permiso est치ndar y seguro para directorios

    - name: Yakuake | Copiar el perfil de la terminal
      ansible.builtin.copy:
        src: Profile_1.profile
        dest: "/home/{{ remote_regular_user }}/.local/share/konsole/Profile_1.profile"
        owner: "{{ remote_regular_user }}"
        group: "{{ remote_regular_user }}"
        mode: "0644" # Permiso est치ndar y seguro para archivos
