[defaults]
deprecation_warnings = True
# Los facts NO se auto-inyectan como variables top-level con prefijo ansible_;
# se accede solo vía ansible_facts['nombre']. Anticipa el cambio de default de
# ansible-core (INJECT_FACTS_AS_VARS se elimina en 2.24) y silencia el warning.
inject_facts_as_vars = False
inventory = hosts
roles_path = ./roles/
collections_path = ~/.ansible/collections
log_path = ./ansible.log
retry_files_enabled = False
# https://www.redhat.com/sysadmin/faster-ansible-playbook-execution
callbacks_enabled = timer, profile_tasks, profile_roles
