Types: deb
URIs: {{ _repo.uris }}
Suites: {{ _repo.suites }}
Components: {{ _repo.components }}
{% if _repo.architectures is defined -%}
Architectures: {{ _repo.architectures | replace(',', ' ') }}
{% endif -%}
Signed-By: {{ _repo.signed_by | default(_repo.keyring_path) }}
