---
dependency:
  name: galaxy
  options:
    requirements-file: ../../../../collections/requirements.yml
    force: false

driver:
  name: docker

platforms:
  - name: debian12-sysadmin
    image: geerlingguy/docker-debian12-ansible:latest
    command: ""
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    privileged: true
    pre_build_image: true
    tmpfs:
      - /run
      - /tmp

  - name: ubuntu2204-sysadmin
    image: geerlingguy/docker-ubuntu2204-ansible:latest
    command: ""
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    privileged: true
    pre_build_image: true
    tmpfs:
      - /run
      - /tmp

provisioner:
  name: ansible
  config_options:
    defaults:
      callbacks_enabled: timer, profile_tasks
  inventory:
    host_vars:
      debian12-sysadmin:
        ansible_user: root
      ubuntu2204-sysadmin:
        ansible_user: root

verifier:
  name: ansible

scenario:
  test_sequence:
    - dependency
    - syntax
    - create
    - prepare
    - converge
    - idempotence
    - verify
    - destroy
