---
# https://helm.sh/docs/intro/install/#from-script
- name: SysAdmin - Install helm cli
  tags: helm_cli
  block:

    - name: Helm | Descargar script de instalación
      become: true
      ansible.builtin.get_url:
        url: https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
        dest: /tmp/get_helm.sh
        mode: '0755'
      changed_when: false

    - name: Helm | Ejecutar script de instalación si no existe el binario
      become: true
      ansible.builtin.shell: bash /tmp/get_helm.sh
      args:
        creates: /usr/local/bin/helm
        executable: /bin/bash

    - name: Helm | Limpiar el script de instalación
      become: true
      ansible.builtin.file:
        path: /tmp/get_helm.sh
        state: absent
      changed_when: false

    - name: Helm | Configurar autocompletado de bash para el usuario
      ansible.builtin.blockinfile:
        path: "/home/{{ remote_regular_user }}/.bashrc"
        owner: "{{ remote_regular_user }}"
        group: "{{ remote_regular_user }}"
        mode: '0644'
        create: true
        block: |
          if command -v helm > /dev/null; then
            source <(helm completion bash)
          fi

    - name: Helm | Asegurar permisos correctos en .bashrc
      ansible.builtin.file:
        path: "/home/{{ remote_regular_user }}/.bashrc"
        owner: "{{ remote_regular_user }}"
        group: "{{ remote_regular_user }}"
        mode: '0644'
