---
- name: GNOME Extensions | Instalar dependencias
  tags: gnome
  ansible.builtin.apt:
    name:
      - gnome-tweaks
      - gnome-shell-extension-manager
      - chrome-gnome-shell
      - gnome-shell-extensions
      - dbus-x11
      - python3-psutil
    state: present

- name: GNOME Extensions | Aplicar configuraciones de dconf (diálogos y reloj)
  tags: gnome, dconf
  become: true
  become_user: "{{ remote_regular_user }}"
  community.general.dconf:
    key: "{{ item.key }}"
    value: "{{ item.value }}"
    state: present
  loop:
    - { key: "/org/gnome/shell/overrides/attach-modal-dialogs", value: "false" }
    - { key: "/org/gnome/desktop/interface/clock-format", value: "'24h'" }
  when: not (skip_gnome_tasks | default(false))

- name: GNOME Extensions | Gestionar la instalación de extensiones
  tags: gnome, gnome-extensions
  become: true
  become_user: "{{ remote_regular_user }}"
  when: not (skip_gnome_tasks | default(false))
  block:
    - name: GNOME Extensions | Construir lista final de extensiones requeridas
      ansible.builtin.set_fact:
        funcional_extensions_required: >
          {{ funcional_gnome_extensions_common +
            (funcional_gnome_extensions_debian if ansible_facts['distribution'] == 'Debian' else []) +
            (funcional_gnome_extensions_ubuntu_2204
             if (ansible_facts['distribution'] == 'Ubuntu'
                 and ansible_facts['distribution_version'] == '22.04') else []) +
            (funcional_gnome_extensions_ubuntu_2404
             if (ansible_facts['distribution'] == 'Ubuntu'
                 and ansible_facts['distribution_version'] == '24.04') else []) }}

    - name: GNOME Extensions | Verificar qué extensiones ya están instaladas
      ansible.builtin.stat:
        path: "/home/{{ remote_regular_user }}/.local/share/gnome-shell/extensions/{{ item.uuid }}"
      loop: "{{ funcional_extensions_required }}"
      register: funcional_installed_extensions_stat

    - name: GNOME Extensions | Determinar si es necesario instalar alguna extensión
      ansible.builtin.set_fact:
        funcional_extensions_are_missing: "{{ funcional_installed_extensions_stat.results | selectattr('stat.exists', 'false') | list | length > 0 }}"

    - name: GNOME Extensions | Instalar extensiones faltantes (si es necesario)
      when: funcional_extensions_are_missing
      block:
        - name: GNOME Extensions | Copiar script de instalación personalizado a /tmp
          ansible.builtin.copy:
            src: install-gnome-extensions.sh
            dest: /tmp/install-gnome-extensions.sh
            mode: "0755"

        - name: GNOME Extensions | Instalar todas las extensiones requeridas con el script
          ansible.builtin.command: "/tmp/install-gnome-extensions.sh --overwrite {{ funcional_extensions_required | map(attribute='id') | join(' ') }}"
          register: funcional_extension_install_result
          changed_when: "'Installing' in funcional_extension_install_result.stdout"

  always:
    - name: GNOME Extensions | Limpiar script de instalación
      ansible.builtin.file:
        path: /tmp/install-gnome-extensions.sh
        state: absent
