- name: Python3 - Instalar dependencias y paquetes
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - ipython3
      - python3-setuptools
      - python3-pip-whl
      - python3-pip
      - pylint
      - python3
