---
- name: UI | Aplicar ajustes de rendimiento y comportamiento
  tags: performance, ui, gnome
  become: true
  become_user: "{{ remote_regular_user }}"
  community.general.dconf:
    key: "{{ item.key }}"
    value: "{{ item.value }}"
    state: present
  loop: "{{ ui_performance_dconf_settings }}"
  when: not (skip_gnome_tasks | default(false))
