---
- name: SysAdmin | Crear usuarios administrativos y configurar permisos
  tags: sysadmin
  become: true
  block:
    - name: SysAdmin | Crear el usuario con UID 499 y grupo sudo
      ansible.builtin.user:
        name: sysadmin
        uid: 499
        shell: /bin/bash
        create_home: true
        password_lock: true
        groups: sudo
        state: present

    - name: SysAdmin | Asegurar que la clave pública SSH esté autorizada
      ansible.posix.authorized_key:
        user: sysadmin
        state: present
        key: "{{ lookup('file', 'sysadmin.pub') }}"

    - name: SysAdmin | Agregar 'sysadmin' a sudoers sin requerir contraseña
      ansible.builtin.lineinfile:
        path: /etc/sudoers.d/sysadmin
        line: "sysadmin ALL=(ALL) NOPASSWD:ALL"
        state: present
        create: true
        owner: root
        group: root
        mode: '0440'
        validate: /usr/sbin/visudo -cf %s

    - name: "Usuario Principal | Asegurar pertenencia al grupo sudo para: {{ remote_regular_user }}"
      ansible.builtin.user:
        name: "{{ remote_regular_user }}"
        groups: sudo
        append: true

    - name: SSH | Securizar la configuración del servidor para ambos usuarios
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: "^{{ item.key }}"
        line: "{{ item.key }} {{ item.value }}"
        state: present
      loop:
        - { key: 'AllowUsers', value: 'sysadmin {{ remote_regular_user }}' }
        - { key: 'PasswordAuthentication', value: 'no' }
        - { key: 'ChallengeResponseAuthentication', value: 'no' }
        - { key: 'PubkeyAuthentication', value: 'yes' }
      notify: Restart sshd

    - name: PolicyKit | Asegurar que el directorio de reglas existe
      ansible.builtin.file:
        path: /etc/polkit-1/rules.d
        state: directory
        owner: root
        group: root
        mode: '0755'

    - name: SysAdmin | Prevenir que 'sysadmin' sea usado para autenticación gráfica
      ansible.builtin.copy:
        src: 49-deny-sysadmin-interactive.rules
        dest: /etc/polkit-1/rules.d/49-deny-sysadmin-interactive.rules
        owner: root
        group: root
        mode: '0644'
