---
- name: Docker - Instalar dependencias
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg-agent
      - software-properties-common
      - lsb-release
    state: present

- name: Docker - Agregar GPG
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Docker - Agregar repositorio
  apt_repository:
    repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu jammy stable
    state: present
    filename: docker

- name: Docker - Instalar docker y docker compose plugin
  apt:
    name:
      - docker-ce
      - docker-compose-plugin
    update_cache: "yes"
    state: present

- name: Docker - Ejecutar comandos como root
  block:
    - name: Docker - Crear grupo docker
      group:
        name: docker
        state: present

    - name: Docker - Agregar users al grupo
      user:
        name: "{{ remote_regular_user }}"
        groups: ["docker"]
        append: "yes"

- name: Docker - Instalar docker-compose
  get_url:
    url: https://github.com/docker/compose/releases/download/v2.7.0/docker-compose-linux-x86_64
    dest: /usr/local/bin/docker-compose
    owner: "{{ remote_regular_user }}"
    group: "{{ remote_regular_user }}"
    mode: "+x"
