---
- name: Arreglos Dev | Establecer aplicaciones favoritas en el dock de GNOME
  tags: devs_fixes
  become: true
  become_user: "{{ remote_regular_user }}"
  community.general.dconf:
    key: "/org/gnome/shell/favorite-apps"
    value: "{{ dev_gnome_favorite_apps }}"
  when: ansible_facts['distribution'] == 'Ubuntu'

- name: Arreglos Dev | Copiar archivos de configuración del shell (dotfiles)
  tags: devs_fixes
  become: true
  become_user: "{{ remote_regular_user }}"
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/home/{{ remote_regular_user }}/{{ item }}"
    owner: "{{ remote_regular_user }}"
    group: "{{ remote_regular_user }}"
    mode: "0644"
  loop:
    - ".bash_aliases"
    - ".adhoc_bash_ps.sh"
    - ".tmux"

- name: Arreglos Dev | Asegurar que .bashrc cargue los archivos de configuración personalizados
  tags: devs_fixes
  become: true
  become_user: "{{ remote_regular_user }}"
  ansible.builtin.blockinfile:
    path: "/home/{{ remote_regular_user }}/.bashrc"
    marker: "# {mark} ANSIBLE MANAGED BLOCK - DEV SOURCES"
    block: |
      # Cargar alias personalizados si el archivo existe
      if [ -f ~/.bash_aliases ]; then
          . ~/.bash_aliases
      fi

      if [ -f ~/.adhoc_bash_ps.sh ]; then
          . ~/.adhoc_bash_ps.sh
      fi
