########################### GIT ##########################################

Host gitlab.com
Preferredauthentications publickey
IdentityFile ~/.ssh/private_key_{{ remote_regular_user }}

Host registry.gitlab.com
Preferredauthentications publickey
IdentityFile ~/.ssh/private_key_{{ remote_regular_user }}

Host github.com
Preferredauthentications publickey
IdentityFile ~/.ssh/private_key_{{ remote_regular_user }}
